:root{
    --orange-color : #FA7436;

}
.trabook{
    font-family: "Volkhov", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}
.nav{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

*,::before,::after{
  box-sizing: border-box;
}

body{
     margin: 0;
}

.wholecls{
  max-width: 1134px;
  margin: 0 auto;
}
.btn-orange{
  padding: 10px 33px;
  color: #fff;
  border-radius:5px ;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  background-color: var(--orange-color);
}

.login{
  color: #FA7436;
  padding: 10px 10px;
  border-radius:5px ;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  background-color: var(white);
}

.btn-white{
  padding: 10px 10px;
  color: var(--orange-color);
  border-radius:5px ;
  border: 2px solid #FA7436;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  background-color: var(white);
}

.topbtn{
  padding: 10px 10px;
  color: black;
  border-radius:5px ;
  display: inline-block;
  font-weight: lighter;
  font-size: 16px;
  text-decoration: none;
  position: relative;
  background-color: var(white);
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1134px;
  top: 0;
  padding: 26px 0;

}

.trabook::after{
  content: url(Image/Vector.png);
  padding: 5px;
  width: 32px;
  height: 32px;
}

nav ul{
  display: flex;
  gap: 60px;
  align-items: center;
  list-style: none;
  margin: 0;
}


.herosection{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.btn-secondary{
  color: black;
  text-decoration: none;
}

.btn-secondary{
  font-family: "Poppins", system-ui;
font-weight: 400;
font-style: normal;
font-size: 16px;
}

.right img{
  height: 530px;
  padding-left: 9%;
  display: flex;
  position: relative;

}

.info-card1{
  box-shadow: 0 4px 12px;
  background: #fff;
  border: black;
  border-radius: 10px;
  display: inline-block;
  display: flex;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: 76px;
  font-style: normal;
  margin-left: 630px;
  margin-bottom: 290px;
  padding-right: 20px;
  font-size: 16px;
}

.info-card1 img{
  margin-top: 12px;
}

.get {
  font-family: "Volkhov", serif;
  font-weight: 700px;
  font-style: normal;
  height: 210px;
  width: 521px;
}

.color{
  color: #FA7436;
}

.info-card{
  display: flex;
  position: relative;

}

.info-card2{
  box-shadow: 0 4px 12px;
  box-sizing: 20px;
  background: #fff;
  border: black;
  border-radius: 10px;
  display: inline-block;
  display: flex;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-left: 1000px;
  margin-bottom: 20px;
  width: 173px;
  height: 75px;
  font-size: 16px;
}
 .info-card2 h3{
  width: 33px;
  height: 22.6px;
  display: flex;
 }

 .info-card2 p{
  padding-top: 30px;
  margin-left: -30px;
  height: 12px;
  display: flex;
 }

 .info-card2 img{
  width: 32px;
  height: 30px;
  margin-top: 20px;
 }

.every{
  color: #666666;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.info-card3{
  box-shadow: 0 4px 12px;
  box-sizing: 20px;
  background: #fff;
  border: black;
  border-radius: 10px;
  display: inline-block;
  display: flex;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-style: medium;
  font-weight: 16px;
  margin-left: 660px;
  margin-top: 200px;
  width: 173px;
  height: 75px;
  padding-right: 160px;
  font-size: 16px;
}

.info-card3 img{
  height: 30px;
  width: 32px;
  margin-top: 20px;
}

.info-card3 h3{
  width: 33px;
  height: 22.6px;
  display: flex;
}

.info-card3 p{
  padding-top: 30px;
  margin-left: -30px;
  height: 12px;
  display: flex;
}

.dropdown{
  display: inline-block;
  position: relative;
  display: flex;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  justify-content: space-between;
}

.date p{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.guest p{
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

.thingstodo{
  display: flex;
  margin-top: 100px;
  justify-content: space-around;
    font-family: "Volkhov", serif;
    font-weight: 48px;
    font-style: normal;
}

.thingstodo p{
  margin-left: 25px;
}

.safe span{
  margin-left: 30px;
}

.safe{
  font-family: "Poppins", sans-serif;
  font-weight: 18;
  font-style: normal;
  
}

.boxes{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  position: relative;
}

.signup{
  box-shadow: 0 4px 12px;
  background: #fff;
  border: black;
  display: inline-block;
  width: 300px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
}

.signup h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-top: 40px;
}

.wallet{
  box-shadow: 0 4px 12px;
  background: #fff;
  border: black;
  display: inline-block;
  width: 300px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
}

.wallet h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-top: 40px;
}

.travel{
  box-shadow: 0 4px 12px;
  background: #fff;
  border: black;
  display: inline-block;
  width: 300px;
  height: 200px;
  padding-left: 10px;
  padding-top: 10px;
}

.travel h1{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-top: 40px;
}

.page3{
  margin-top: 200px;
  display: flex;
  position: relative;
}

.deals{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.discover{
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.journey{
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dealspics{
  display: flex;
  justify-content: space-between;
}

.madria{
  display: inline-block;
  box-sizing: 20px;
  box-shadow: 0 4px 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.firenze{
  display: inline-block;
  box-sizing: 20px;
  box-shadow: 0 4px 12px;
}

.paris{
  display: inline-block;
  box-sizing: 20px;
  box-shadow: 0 4px 12px;
}

.london{
  display: inline-block;
  box-sizing: 20px;
  box-shadow: 0 4px 12px;
}

.mad{
  margin-top: 20px;
  font-size: 16px;
  margin-left: 10px;
}

.mad img{
  margin-left: 140px;
}

.madr{
  size: 26px;
  margin-top: 20px;
  margin-left: 10px;
}

.fir{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sec{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.vacation{
  display: flex;
  margin-top: 100px;
  justify-content: center;
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}

.perfect{
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.offers{
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}

.page4{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 100px;
}

.rome{
  background: #fff;
  border: black;
  display: inline-block;
  border-radius: 10px;
  
}

.uk{
  background: #fff;
  border: black;
  display: inline-block;
  border-radius: 10px;
}

.osaka{
  background: #fff;
  border: black;
  display: inline-block;
  border-radius: 10px;
}

.ita{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-right: 20px;
}

.dollor{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 180px;
}

.belowtxt{
  margin-top: 20px;
}

.what{
  margin-top: 150px;
}

.what h4{
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.service{
  margin-top: 150px;
}

.service img{
  margin-right: 400px;
  position: relative;
  display: flex;
}

.window{
  display: inline-block;
  box-shadow: 0 4px 8px;
  margin-left: 50px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.win1{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.mike{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.lah{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

.latest{
  margin-top: 150px;
  justify-content: center;
  position: relative;
  display: flex;
}

.page6{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 100px;
}

.corbul{
  display: inline-block;
  box-shadow: 0 4px 8px;
}

.hut{
  display: inline-block;
  box-shadow: 0 4px 8px;
}

.path{
  display: inline-block;
  box-shadow: 0 4px 8px;
}

.rock{
  display: inline-block;
  box-shadow: 0 4px 8px;
}

.buld{
  margin-left: 10px;
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.buldate{
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
  font-size: 16px;
}

.subscribe{
  margin-top: 250px;
  display: flex;
  position: relative;
  justify-content: center;
}


.tra p{
  margin-top: 20px;
}

.logo{
  margin-top: 20px;
}

.lastpart{
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 200px;
}

.lastpart h3{
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
}

.lastpart p{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 16px;
}

.line{
  margin-top: 30px;
}

.lastline{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-top: 50px;
}

.terms{
  margin-left: 640px;
}